.container
  .row
    .col-md-6
      - if @tv.poster_path.present?
        != logo_image_path(@tv.poster_path, 5, @tv.original_name)
    .col-md-6
      .container
        .row
          .col-md-4
            %h2= @tv.original_name
          .col-ms-2.tv_show_resource_button
            - if current_user.subscribed?(@tv.id)
              = link_to 'Remove from my shows', subscription_path(@tv.id), method: :delete, class: 'btn btn-default'
            - else
              = link_to 'Add to my shows', subscriptions_path(resource_id: @tv.id), method: :post, class: 'btn btn-default'
      %h5= @tv.in_production ? 'In production' : 'Not in production'
      %table.table
        %tr
          %th Genres:
          - genres = []
          - @tv.genres.each do |genre|
            - genres << genre['name']
          %td= genres.join(', ')
        %tr
          %th Release date:
          %td= @tv.first_air_date
        %tr
          %th Last air date:
          %td= @tv.last_air_date
      .well
        = @tv.overview
      = link_to 'Episodes', tv_episodes_path(tv_id: @tv.id), class: 'btn btn-default'
      %h4 Seasons:
      %table.table
        %tr
          %th Season
          %th Air date
          %th Episodes
        - @tv.seasons_summary.each do |season|
          %tr
            %td= season['season_number']
            %td= season['air_date']
            %td= season['episode_count']
