%tr{ class: "episode episode-#{episode.episode_number} tv-#{tv.id} season-#{episode.season_number}" + (' seen-episode' if seen ).to_s }
  %td.text-nowrap
    = link_to seen_subscriptions_path(resource_id: tv.id, episode_number: episode.episode_number, season_number: season.season_number), remote: :true, class: 'toggle-seen' do
      %button.btn.btn-default.btn-sm
        %i.fa{ class: (seen ? 'fa-eye-slash' : 'fa-eye') }
  %td.text-nowrap
    %span.season-marker
      = episode.episode_marker(tv.name)
      = render partial: 'torrent_link', locals: { episode: episode, tv_name: tv.name, type: :thepiratebay }
      = render partial: 'torrent_link', locals: { episode: episode, tv_name: tv.name, type: :kickass }
  %td.text-nowrap
    = "#{episode.air_date}"
    = episode.name
  %td
    - if episode.overview.present?
      %span.overview{ style: ('display: none;' unless seen) }
        = episode.overview
      .show-overview{ style: ('display: none;' if seen) }
        \...
