%tr{ class: "episode-#{episode.id} tv-#{tv.id} season-#{episode.season_number}" + (' seen-episode' if seen ).to_s }
  %td.text-nowrap
    = link_to toggle_view_path(id: episode.id, view: { tv_id: tv.id, episode_id: episode.id }), remote: :true, class: 'toggle-seen' do
      %button.btn.btn-default.btn-sm
        %i.fa{ class: (seen ? 'fa-eye-slash' : 'fa-eye') }
  %td.text-nowrap
    %span.season-marker
      = tv.name
      = episode.season_marker
  %td.text-nowrap
    = "#{episode.air_date}"
    = episode.name
  %td
    - if episode.overview.present?
      %span.overview{ style: ('display: none;' unless seen) }
        = episode.overview
      .show-overview{ style: ('display: none;' if seen) }
        \...
