%tr{ class: "episode-#{episode.id} tv-#{tv.id} season-#{episode.season_number}" + (' seen-episode' if current_user.try(:seen?, episode)).to_s }
  %td.text-nowrap= episode.season_marker
  %td.text-nowrap= episode.name
  %td= episode.overview
  %td.text-nowrap
    = link_to toggle_view_path(id: episode.id, view: { tv_id: tv.id, episode_id: episode.id }), remote: :true, class: 'toggle-seen' do
      - if current_user.seen?(episode)
        Set as unseen
      - else
        Set as seed
