%tr{ class: ('seen-episode' if current_user.try(:seen?, episode)) }
  %td.text-nowrap= episode.season_marker
  %td.text-nowrap= episode.name
  %td= episode.overview
  %td.text-nowrap
    - if current_user.seen?(episode)
      = link_to 'Set as unseen', view_path(id: episode.id), method: :delete
    - else
      = link_to 'Set as seen', views_path(view: {tv_id: tv.id, episode_id: episode.id}), method: :post
