.episodes
  - tvs.each do |tv|
    %table.table
      %tr
        %th
          = link_to tv_path(id: tv.id) do
            != logo_image_path(tv.poster_path, 1, tv.name)
        %th{style: 'vertical-align: middle'}= link_to tv.name, tv_path(id: tv.id)
        %th{colspan: 2, style: 'vertical-align: middle'}
          = link_to 'Set all episodes as seen', set_all_views_path(tv_id: tv.id), remote: :true, class: 'toggle-all btn btn-default'
          = link_to 'Set all episodes as unseen', unset_all_views_path(tv_id: tv.id), remote: :true, class: 'toggle-all btn btn-default'
      - tv.seasons.each do |season|
        = render partial: 'season_episodes', locals: { tv: tv, season: season }
- content_for :js do
  :javascript
    $(function(){
      $('.toggle-seen').on('ajax:success',function(event, data, status, xhr){
        if (status == 'success') {
          episode = $('.episode-' + data.episode_id);
          toggleEpisodes(episode, data.created);
        }
      });

      $('.toggle-all').on('ajax:success',function(event, data, status, xhr) {
        if (data.season_id) {
          episodes = $('.tv-' + data.tv_id + '.season-' + data.season_id);
        } else {
          episodes = $('.tv-' + data.tv_id);
        }
        toggleEpisodes(episodes, data.set_all);
      });

      function toggleEpisodes(episodes, turnOn) {
        buttons = episodes.find('.toggle-seen i');
        if (turnOn) {
          episodes.addClass('seen-episode');
          buttons.removeClass('fa-eye');
          buttons.addClass('fa-eye-slash');
        } else {
          episodes.removeClass('seen-episode');
          buttons.removeClass('fa-eye-slash');
          buttons.addClass('fa-eye');
        }
        console.log('test');
      }
    });
