!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Watcher"
      %meta{content: content_for?(:description) ? yield(:description) : "My Application", name: "description"}
        = stylesheet_link_tag 'application', media: 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
        / Custom Fonts
  %body
    %header
      = render 'layouts/navigation' unless current_page?(root_path)
    = render 'layouts/messages'
    = yield
